#banner {
    background-image: border-radius: 32px;

    background: linear-gradient(180.00deg, rgba(3, 7, 18, 0.5), rgba(3, 7, 18, 0) 100%),url('./images/banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}